<div class="sider-bar">
    <h3 class="text-center mt-5 mb-5">API REST FULL</h3>


    <ul class=".sider-bar__list">
        <li>
            <div class="list-wrapper-item"> 
                <i class="fa-solid fa-house-user mx-4"></i>
                <a class="sider-bar__list list-label">Usuarios</a>
            </div>
        </li>
        <li class="my-4">
            <div class="list-wrapper-item"> 
                <i class="fa-solid fa-user mx-4"></i>
                <a class="sider-bar__list list-label">Crear Usuario</a>
            </div>
        </li>
    </ul>

    <div class="sider-bar__separator"></div>

</div>